* {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	margin: 0;
	padding: 0;
	color: white;
	background-color: var(--brand-primary);
	font-size: 1.1em;
	
	/*PREVENT TEXT SELECTION*/
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
	user-select: none;
	
	outline: none;
}
@media only screen and (min-width: 600px) {
	/*  For desktops:  */
	* {
		font-size: 1em;
	}
}

body div.main-page {
	background-color: white;
	text-align: center;
	position: relative;
	width: calc(100% - 2em);
	top: 2em;
}

nav {
	text-align: left;
	position: sticky;
	top: 0;

	background-color: royalblue;
	color: white;
	box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);

	width: calc(100% - 2em);
	height: 2em;
	line-height: 1.8em;
	padding: 0 1em;
	
	display: block;
}
nav span {
	position: relative;
	font-weight: bold;
	bottom: 0.2em;
}

nav i.material-icons {
	margin-top: 0.1em;
}
nav i.info {
	float: right;
}

div.main {
	text-align: center;
	display:inline-block;
}

label {
	background-color: royalblue;
	margin: 0.4em;
	padding: 0.4em;

	cursor: pointer;
}
label:hover {
	box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
}
button {
	background-color: royalblue;
	margin: 0.4em;
	padding: 0.4em;

	cursor: pointer;
	outline: none;
	border: none;
}

button:hover {
	box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
}

input[type=file] {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

input[type=checkbox] {
	-webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}
input[type=checkbox]:active, input[type=checkbox]:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
input[type=checkbox]:checked {
	background-color: #e9ecee;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}
input[type=checkbox]:checked:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: royalblue;
}

button#parse-json i {
	display: none;
}

#lang-input::-webkit-scrollbar, #lang-input::-webkit-scrollbar-track, #lang-input::-webkit-scrollbar-thumb {
	display: none;
}
textarea#lang-text, textarea#lang-text-key  {
	overflow-x: scroll;
	white-space: nowrap;
}
textarea {
	color: #404252;
	resize: none;
	font-weight: normal;
}

*::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}
*::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
}
*::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.35);
	box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.4);
}
a:visited, a:hover, a:active, a {
	text-decoration: none;
	color: royalblue;
}

#edit-langs {
	display: none;
}
#progress, #status {
	color: royalblue;
}